h1, h2,h3, #instructions{
  text-align: center;
}
span#red{
  color: red;
}

h1, h2{
  text-decoration: underline;
}

form#test{
  background-color: rgb(189, 178, 178);
  margin-top: 50px;
  width: 800px;
  height: 540px;
  overflow:scroll;
}