h1, h2,h3, #instructions{
  text-align: center;
}
span#red{
  color: red;
}

h1, h2{
  text-decoration: underline;
}

form#test{
  background-color: rgb(189, 178, 178);
  margin-top: 20px;
  width: 800px;
  height: 500px;
  overflow:scroll;
  font-size: x-large;
  margin-left: 400px;
  padding-left: 40px;
  border: double black 5px;
  border-radius: 10px;
}

#instructions{
  background-color: brown;
}
input#Submit{
  background-color: blueviolet;
  border: solid red 5px;
  border-radius: 10px;
  height: 40px;
  color: white;
  margin-left: 300px;
  font-size: 20px;
}